.banner .react-multi-carousel-dot {
  button {
    transform: scale(1.1);
    border: 1px solid #000000;
    margin: 5px;
    width: 25px;
    height: 6px;
    border-radius: 2px;
  }
}
.banner .react-multi-carousel-dot--active {
  button {
    background-color: #000000;
    transform: scale(1.1);
    margin: 5px;
  }
}
.offers {
  .react-multi-carousel-dot {
    button {
      transform: scale(1.1);
      border: 2px solid #ffb700;
    }
  }
  .react-multi-carousel-dot--active {
    button {
      background-color: #ffc800;
      transform: scale(1.1);
    }
  }
}